* {
    padding: 0;
    margin: 5px;
    text-decoration: none;
    list list-style: none;
    box-sizing: border-box;


}

body {

    font-family: sans-serif ;
background-color: greenyellow;
}

.r:hover {

    color:red;
    font-size: 30px;
    background-color: chartreuse;
}

input:focus {

    color:red;
    font-size: 50px;

}

ul li:nth-child(2n+1){
    
    font-size: 50px;
    background-color: hotpink;
}