* {
    padding: 0;
    margin: 5px;
    text-decoration: none;
    list list-style: none;
    box-sizing: border-box;


}

body {

    font-family: sans-serif ;
}

.r:hover {

    color:red;
    font-size: 30px;
    background-color: chartreuse;
}

input:focus {

    color:red;
    font-size: 50px;

}

ul li:nth-child(2n+1){
    
    font-size: 50px;
    background-color: hotpink;
}


.overflow {

    width: 300px;
    height: 200px;
    border: 2px solid black;
    overflow: auto;

}

.box {
    height:300px;
    width:300px;
    background-color: chartreuse;
}

@media screen and (max-width:480px) {

    .box{

        overflow: auto;
        color:red;
        
    }

}